<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>483560983295-fikb6pdvl5ttckks34bf1brhnkvj4041.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483560983295-fikb6pdvl5ttckks34bf1brhnkvj4041</string>
	<key>API_KEY</key>
	<string>AIzaSyA1wSm-DZCV4GcVaAOIh80aLpHR3UfYOFc</string>
	<key>GCM_SENDER_ID</key>
	<string>483560983295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.donaldbelliveau.breakpoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-fdd71</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-fdd71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483560983295:ios:1ad8ac56a784b2d6</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-fdd71.firebaseio.com</string>
</dict>
</plist>